@import url('./reset.css');
@import url('./style.css');




@media(max-width: 1700px) {
    .about-arrows {
        display: none !important;
    }

}


@media(max-width: 1540px) {
    .about-wrapper {
        grid-template-areas: 
            'title'
            'carousel'
            'descr';
        grid-template-columns: none;
    }

    .about-desc {
        grid-area: descr;
    }

    .carousel {
        justify-self: center;
        transform: scale(0.9);
        margin-bottom: 40px;
    }

    .about-subtitle {
        margin-bottom: 0px;
    }

    .ship-modal-overlay,
    .ship-modal-wrapper {
        user-select: none;
    }

}

@media(max-width: 1067px) {
    .anchor-img {
        width: 428px;
        height: auto;
    }

    .anchor-img-cont {
        display: contents;
    }

    .pontons-img-cont {
        display: contents;
    }

    .pontons-img {
        width: 428px;
        height: auto;
    }

    .pontons-anchor-subtitle {
        margin-bottom: 55px;
    }

    .ship-card__text {
        transform: scale(0.95);
    }

    .pontons-anchor-modal-title {
        font-size: 34px;
    }

    .pontons-anchor-modal-subtitle {
        font-size: 22px;
    }
}

@media(max-width: 910px) {
    .pontons-anchor-button {
        margin-top: 20px;
    }

    .not-last {
        margin-bottom: 50px;
        margin-top: 50px;
    }

    .ship-card__title {
        padding-bottom: 10px;
        font-size: 20px;
    }

    .ship-card__price {
        font-size: 15px;
        padding-bottom: 15px;
    }

    .ship-card__button {
        font-size: 12px;
        padding: 10px 40px;
    }

    .ship-cards {
        margin-top: 50px;
    }

    .hero {
    margin-bottom: 70px;
    }

    .anchor-text {
        margin-left: auto;
    }

    .anchor-img-cont {
        display: block;
        width: 416px;
        height: auto;
    }

    .about-title {
        font-size: 44px;
    }

    .about-subtitle {
        font-size: 22px;
    }

    .about-company {
        margin-top: 50px;
        margin-bottom: 30px;
    }

}

@media(max-width: 767px) {
    .nav {
        display: none;
    }

    .nav-mobile {
        display: flex;
        flex-direction: column;
    }

    .nav-list-mobile {
        display: flex;
        column-gap: 15px;
        align-items: center;
        justify-content: center;
    }

    .logo {
        justify-self: center;
        width: 282px;
    }

    .nav-link {
        font-size: 15px;
    }

    .nav-button {
        font-size: 15px;
        padding: 2px 5px 2px 5px;
        border: none;

        font-family: 'Montserrat', sans-serif;
    }

    .nav-button:hover {
        color: #d1a57e;
        background-color: transparent;
    }

    .header-wrapper {
        padding-block: 10px;
    }


    .ship-cards {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        column-gap: 20px;
        row-gap: 20px;
        margin-top: 80px;
    }

    .ship-card {
        max-height: none;
    }

    .ship-card__title {
        font-size: 24px;
    }

    .ship-card__price {
        font-size: 18px;
    }

    .ship-card__button {
        padding-block: 15px;
        padding-left: 0;
        padding-right: 0;
        font-size: 14px;
        width: 100%;
    }

    .ship-modal-title {
        font-size: 30px;
    }

    .ship-modal-price {
        font-size: 16px;
        margin-bottom: 15px;
    }

    .ship-cards {
        margin-top: 50px;
    }

    .ship-characteristics-title {
        font-size: 32px;

        margin-bottom: 10px;
    }

    .ship-characteristics {
        margin-bottom: 10px;
    }

    .ship-detail-title {
        font-size: 15px;
    }

    .ship-detail-subtitle {
        font-size: 15px;
    }

    .ship-detail {
        padding-block: 4px;
    }

    .ship-modal-photos-title {
        font-size: 32px;
    }

    .ship-modal-photos {
        margin-bottom: 30px;
    }

    .ship-modal-window {
        max-width: 70vh;
        max-height: 80vh;
    }

    .pontons-info, .anchor-info {
        grid-template-areas:
            'img'
            'text'
            'button';
    }

    .pontons-img {
        justify-self: center;
        width: 100%;
    }

    .anchor-img {
        width: 500px;
        justify-self: center;
    }

    .anchor-img-cont {
        display: contents;
    }

    .not-last {
        margin-bottom: 0 !important;
    }

    .pontons-anchor-button {
        margin: 0;
    }

    .anchor-text, .pontons-text {
        margin-bottom: 50px;
    }

    .pontons-anchor-title {
        line-height: 1;
    }

    .pontons-anchor-modal-title {
        font-size: 28px;
    }

    .section-divider--main::before {
        margin-right: 40px;
    }

    .section-divider--main::after {
        margin-left: 40px;
    }

    .pontons-anchor-modal-subtitle {
        font-size: 18px;
    }

    .pontons-anchor-modal-form-inputs input {
        font-size: 16px;
    }
}

@media(max-width: 560px) {
    .about-title {
        font-size: 38px;
        line-height: 1;
    }

    .about-subtitle {
        font-size: 18px;
    }
    
    .carousel {
        transform: scale(0.8);
        margin-bottom: 20px;
    }

    .about-desc {
        font-size: 16px;
    }

    .about-photos-carousel {
        margin-top: 50px;
        margin-bottom: 70px;
    }

    .pontons-anchor-title {
        font-size: 36px;
    }

    .pontons-anchor-subtitle {
        margin-bottom: 40px;
        font-size: 15px;
    }

    .nav-list-mobile {
        flex-wrap: wrap;
    }

    .ship-modal-window {
        max-width: 60vh;
        max-height: 70vh;
    }

    .ship-characteristics-title, .ship-modal-photos-title {
        font-size: 28px;
    }

    .ship-modal-title {
        font-size: 26px;
    }

    .hero {
        margin-bottom: 40px;
    }

    .ship-cards {
        margin-bottom: 30px;
    }

    .pontons-img {
        margin-bottom: 30px;
    }

    .section-divider--main::before {
        margin-right: 20px;
    }

    .section-divider--main::after {
        margin-left: 20px;
    }

    .pontons-anchor-modal-title {
        font-size: 22px;
    }

    .pontons-anchor-modal-subtitle {
        font-size: 15px;
        line-height: 1;
    }

    .pontons-anchor-modal-form-inputs input {
        width: 70%;
    }

    .pontons-anchor-modal-form-button {
        width: 80%;
    }

    .pontons-anchor-modal-form-check-box label {
        font-size: 13px;
    }
}

@media(max-width: 380px) {
    .ship-characteristics-title {
        font-size: 25px;
    }

    .section-divider--main::before {
        margin-right: 15px;
    }

    .section-divider--main::after {
        margin-left: 15px;
    }

    .ship-cards {
        margin-bottom: 15px;
        margin-top: 15px;
    }

    .ship-card__title {
        font-size: 20px;
    }

    .about-title {
        font-size: 28px;
    }

    .about-subtitle {
        font-size: 14px;
    }

    .carousel {
        margin-top: 50px;

        transform: scale(0.65);
        margin-bottom: 0;
    }

    .arrow {
        transform: scale(1.35);
    }

    .owl-dot {
        width: 12px;
        height: 12px;
    }

    .pontons-anchor-button {
        padding: 15px 20px;
        font-size: 16px;
    }

    .ship-modal-title {
        font-size: 22px;
    }

    .ship-modal-price {
        font-size: 15px;
    }

    .ship-characteristics-title, .ship-modal-photos-title {
        font-size: 22px;
        margin-bottom: 0;
    }

    .ship-detail-title, .ship-detail-subtitle {
        font-size: 13px;
    }

    .ship-characteristics {
        margin-bottom: 0;
    }

    .ship-modal-img {
        height: 300px !important;
    }

    .custom-arrow {
        width: 35px;
        height: 35px;
        font-size: 22px;
    }

}




