@import url(./reset.css);
@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');



/* Header */

.header {
    margin-bottom: 50px;
    position: sticky;
    top: 0;
    z-index: 100;
    animation-name: scrolling-header;
    animation-fill-mode: both;
    animation-timeline: scroll();
    animation-range: 100px 200px;
    background-color: #fff;
    transition: box-shadow 0.4s ease-in-out;


}

body {
    overflow-x: hidden !important;
}

@keyframes scrolling-header {
    to {
        box-shadow: 0 0 5px 1px #000;
    }
}


.header-wrapper {
    padding-block: 20px;
}

.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}

.nav-mobile {
    display: none;
}

.nav-list {
    display: flex;
    column-gap: 20px;
    align-items: center;
}

.nav-item {

}

.nav-link {
    font-family: "Montserrat", sans-serif;
    font-size: 18px;
    font-weight: 500;
    line-height: 24.59px;
    color: #303030;
    text-decoration: none;
    transition: color 0.22s ease-in-out;
}

/* .nav-link:hover {
    color: #d1a57e;
} */

.nav-buttons {
    display: flex;
    column-gap: 5px;
    align-items: center;
}

.nav-button {
    display: inline-block;
    font-family: "Manrope", sans-serif;
    font-size: 18px;
    font-weight: 500;
    line-height: 25px;
    color: #000;
    border-style: solid;
    border-width: 1px 1px 1px 1px;
    border-color: #363131;
    padding: 8px 8px 8px 8px;
    text-decoration: none;

    transition: all 0.22s ease-in-out;
}

.contacts {
    background-color: transparent;
}

/* .nav-button:hover {
    color: #fff;
    background-color: #27213d;
} */

.logo {
    width: 200px;
}


.hero {
    overflow: hidden;
    margin-bottom: 100px;

}

.hero-img {
    width: 90%;         
    height: auto;        
    max-width: 1380px;    
    border-radius: 20px;
    justify-self: center;
    object-fit: contain;
}

/* Header Contacts */

.header-contacts-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.45);
    opacity: 0;
    visibility: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    transition: opacity .35s ease, visibility .35s ease;
    z-index: 9999;
}

.header-contacts-overlay.show {
    opacity: 1;
    visibility: visible;
}

.header-contacts-window {
    background: white;
    max-width: 90vh;
    max-height: 90vh;
    border-radius: 18px;
    overflow-y: auto;
    transform: translateY(30px);
    opacity: 0;
    transition: 0.4s ease;
}

.header-contacts-overlay.show .header-contacts-window {
    transform: translateY(0);
    opacity: 1;
}

.header-contacts-overlay:not(.show) .header-contacts-window {
    transform: translateY(30px);
    opacity: 0;
}


.header-contacts-title {
    color: #303030;
    font-family: "Montserrat", sans-serif;
    font-size: 25px;
    font-weight: 600;
    line-height: 43.88px;
}

.header-contacts-block {
    padding: 20px;
    padding-left: 50px;
    padding-right: 50px;
    text-align: center;
}
.header-contacts-detail-title {
    color: #303030;
    font-family: "Montserrat", sans-serif;
    font-size: 20px;
    font-weight: 600;
}

.header-contacts-detail-link {
    color: #0000007A;
    font-family: 'Manrope', sans-serif;
    font-size: 15px;
    font-weight: 500;
}

.header-contacts-detail-tel {
    display: flex;
    flex-direction: column;
    row-gap: 10px;
    color: #0000007A;
    font-family: 'Manrope', sans-serif;
    font-size: 15px;
    font-weight: 500;
}

/* Header Contacts */


/* Header */






/* About */

.about-company {
    margin-top: 100px;
    margin-bottom: 50px;
}

.container {
    max-width: 1440px;
    margin: 0 auto;
    padding: 0 15px;

}

.about-wrapper {
    display: grid;
    grid-template-areas: 
    'title carousel'
    'descr carousel';
    grid-template-columns: 70% auto;
    justify-content: space-between;
}

.about-text-high {
    grid-area: title;
}


.about-title {
    color: #303030;
    font-family: "Montserrat", sans-serif;
    font-size: 48px;
    font-weight: 500;
    line-height: 58.51px;
}

.about-subtitle {
    color: #303030;
    font-family: "Montserrat", sans-serif;
    font-size: 24px;
    font-weight: 500;
    line-height: 29.26px;

    margin-bottom: 70px;
}

.about-desc {
    color: #303030;
    font-family: "Montserrat", sans-serif;
    font-size: 18px;
    font-weight: 400;
    line-height: 24.59px;
}

.about-desc span {
    font-weight: 700;
}


.about-photos-carousel {
    position: relative;
    width: 100%;
    overflow: visible;
    margin-top: 100px;
    margin-bottom: 100px;
}

.about-photos .about-img {
    width: 100%;
    display: block;
}

.about-arrows .custom-arrow {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

/* Левая стрелка фиксирована слева */
.about-arrows .arrow-left {
    left: 660px !important; 
}

/* Правая стрелка фиксирована справа */
.about-arrows .arrow-right {
    right: 660px !important;
}


.about-img {
    width: 100%;
    height: auto;
    border-radius: 20px;
}

/* About slider */

.carousel {
    position: relative;
    width: 320px;
    height: 450px;
    perspective: 1000px;
    margin-top: 100px;
    grid-area: carousel;
}

.card {
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 20px;
    overflow: hidden;
    background: #fff;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.15);
    transform-origin: center right;
    transition: transform 1s cubic-bezier(0.22, 1, 0.36, 1);
}

.card img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    user-select: none;
}

.arrow {
    position: absolute;
    border-style: solid;
    border-width: 1px 1px 1px 1px;
    border-color: #27213d;
    border-radius: 50%;
    background: white;
    cursor: pointer;
    z-index: 5;
    transition: background 0.3s;
    padding: 9px 17px 10px 17px;
    bottom: 30px;
    right: 30px;
}

.arrow::after {
    content: ">";
    font-family: "Manrope", sans-serif;
    font-size: 18px;
    font-weight: 700;
    color: #27213d;
    line-height: 25px;
}


/* About slider */


/* About */


/* Ship Rows */

.ship {
    padding-bottom: 50px;
}

.ship-cards {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 20px;
    row-gap: 20px;
    margin-top: 80px;
}

.ship-card {
    box-shadow: 4px 8px 16px 2px rgba(0, 0, 0, 0.1);
    background-color: #1C1C1E;
    border-radius: 25px;

    cursor: pointer;

    max-height: 454px;
    display: inline-block;
    
}

/* .ship-card:hover .ship-card__button {
    color: #ffffff;
    background-color: #0B0E33;
    border: 1px solid #ffffff;
    transform: scale(1.02);
} */

.ship-card__button {
    background-color: #FFFFFF;
    color: #27213d;
    font-family: "Manrope", sans-serif;
    font-size: 14px;
    font-weight: 700;
    border: none;
    outline: none;
    padding: 15px 50px;
    border: 1px solid #1C1C1E;

    transition: 0.22s all ease-in-out;

}

/* .ship-card__button:hover {
    color: #ffffff;
    background-color: #0B0E33;
    border: 1px solid #ffffff;
    scale: 1.02;
} */

.ship-card__img {
    border-radius: 20px;
    transition: transform 0.25s ease-in-out;
    transform-origin: center center;
    
}

.ship-card__text {
    padding: 15px 20px 15px;
    
    border-radius: 25px;
    background-color: #1C1C1E;
    color: #ffffff;

}

.ship-card__title {
    font-weight: 700;
    font-family: "Manrope", sans-serif;

    padding-bottom: 20px;
    font-size: 24px;

}

.ship-card__price {
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    font-size: 18px;
    padding-bottom: 20px;
}

.ship-card__price span {
    font-weight: 400;
    font-size: 14px;
}

/* Modal */

.ship-modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.45);
    opacity: 0;
    visibility: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    transition: opacity .35s ease, visibility .35s ease;
    z-index: 9999;
    cursor: auto;
    
}

.ship-modal-overlay.show {
    opacity: 1;
    visibility: visible;
}

.ship-modal-window {
    background: white;
    max-width: 90vh;
    max-height: 90vh;
    border-radius: 18px;
    overflow-y: auto;
    position: relative;
    transform: translateY(30px);
    opacity: 0;
    transition: 0.4s ease;
}

.ship-modal-overlay.show .ship-modal-window {
    transform: translateY(0);
    opacity: 1;
}

.ship-modal-close {
    position: absolute;
    right: 15px;
    top: 15px;
    width: 40px;
    height: 40px;
    padding: 0;
    border: none;
    background: none;
    cursor: pointer;
}


.ship-modal-title {
    color: #303030;
    font-family: "Montserrat", sans-serif;
    font-size: 36px;
    font-weight: 600;
    line-height: 43.88px;
}

.ship-characteristics-title {
    color: #303030;
    font-family: "Montserrat", sans-serif;
    font-size: 36px;
    font-weight: 500;
    line-height: 43.88px;
    text-align: center;
    margin-bottom: 20px;
}

.ship-modal-price {
    color: #000;
    font-family: "Montserrat", sans-serif;
    font-size: 18px;
    font-weight: 400;
    line-height: 24px;

    margin-bottom: 30px;
}

.ship-modal-close svg {
    width: 100%;
    height: 100%;
    fill: white;
}

.ship-modal-header {
    width: 100%;
    height: 200px;
    overflow: hidden;
}

.ship-modal-photo {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.ship-modal-body {
    padding: 20px;
    font-family: sans-serif;
}

.owl-carousel img {
    height: 400px;
    object-fit: cover;
    width: 100%;
    border-radius: 12px;
}

.ship-modal-photos {
    margin-bottom: 60px;
}

.ship-modal-photos-in {
    margin-bottom: 30px;
}

.carousel-wrapper {
    position: relative;

}

/* Общие стили для стрелок */
.custom-arrow {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    border: 1px solid #27213d;
    border-radius: 50%;
    background: white;
    cursor: pointer;
    z-index: 10;
    transition: background-color 0.25s ease-in-out;
    width: 40px;
    height: 40px;
    cursor: pointer;
    z-index: 10;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #27213d;
    font-size: 25px;
    user-select: none;
    font-weight: 600;
    font-family: "Manrope", sans-serif;
}

/* Левая стрелка */
.custom-arrow.arrow-left {
    left: 10px;
    
}

/* Правая стрелка */
.custom-arrow.arrow-right {
    right: 10px;
}

/* При наведении стрелки */
/* .custom-arrow:hover {
    background-color: #27213d;
}

.custom-arrow:hover::before {
    color: #fff;
} */

/* Если хочешь добавить стрелку в виде символа */
.custom-arrow.arrow-left::before {
    content: '<'; /* можно заменить на SVG или иконку */
    transition: color 0.25s ease-in-out;
}

.custom-arrow.arrow-right::before {
    content: '>';
    transition: color 0.25s ease-in-out;
}



.ship-modal-photos-title {
    color: #303030;
    font-family: "Montserrat", sans-serif;
    font-size: 36px;
    font-weight: 500;
    line-height: 43.88px;
    text-align: center;
    margin-bottom: 20px;
}


.ship-characteristics {
    margin-bottom: 20px;
}

.ship-detail {
    display: flex;
    justify-content: space-between;
    padding-block: 7px;

    align-items: center;
}

.ship-detail:not(:last-child) {
    border-bottom: 1px solid #0000007A;
}

.ship-detail-title {
    color: #0000007A;
    font-family: 'Manrope', sans-serif;
    font-size: 18px;
    font-weight: 700;
    line-height: 32px;
}

.ship-detail-subtitle {
    color: #000;
    font-family: 'Manrope', sans-serif;
    font-size: 18px;
    font-weight: 700;
    line-height: 32px;   
}


.section-divider {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;

    text-align: center;
    width: 100%;
}

.section-divider::before,
.section-divider::after {
    content: "";
    flex: 1;
    height: 1px;
    background: #27213D63;
}

.section-divider::before {
    margin-right: 15px;
}

.section-divider::after {
    margin-left: 15px;
}

.section-divider--main::before {
    margin-right: 100px;
}

.section-divider--main::after {
    margin-left: 100px;
}

.owl-dot {
    width: 15px;
    height: 15px;
    background: #fff !important;
    opacity: .2;
    border-radius: 50%;

    cursor: pointer;
}

.owl-dot.active {
    background: #fff;
    opacity: 1;
}

.owl-dots {
    position: absolute;
    display: flex;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
    column-gap: 4px;
}







/* Pontons-Anchors */


.pontons-anchor {
    padding-bottom: 50px;
}

.pontons-anchor-wrapper {
    
}
.pontons-anchor-text {

}

.pontons-anchor-title {
    font-family: "Montserrat", sans-serif;
    font-weight: 600;
    font-size: 40px;
}
.pontons-anchor-subtitle {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-size: 16px;

    margin-top: 15px;
    margin-bottom: 35px;
}
.pontons-info {
    display: grid;
    align-items: center;
    grid-template-areas: 
    'img text'
    'button button';
}

.pontons-img-cont {
    width: 690px;
    height: auto;
}

.pontons-img {
    max-width: 690px;
    height: auto;
}

.pontons-title {
    font-family: 'Montserrat' ,sans-serif;
    font-weight: 600;
    line-height: 1;
    font-size: 32px;

    margin-bottom: 20px;
}
.pontons-subtitle {
    display: grid;
    row-gap: 15px;

    color: #7a7a7a;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-size: 16px;
}

.pontons-subtitle p {
    margin-bottom: 0;
}

.anchor-info {
    display: grid;
    grid-template-areas: 
    'img text'
    'button button';
    align-items: center;
}

.anchor-img-cont {
    width: 690px;
    height: auto;
}

.anchor-img {
    width: 500px;
    height: auto;
}

.anchor-title {
    font-family: 'Montserrat' ,sans-serif;
    font-weight: 600;
    line-height: 1;
    font-size: 32px;

    margin-bottom: 20px;
}
.anchor-subtitle {
    display: grid;
    row-gap: 15px;

    color: #7a7a7a;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-size: 16px;
}

.anchor-subtitle p {
    margin-bottom: 0;
}

.pontons-anchor-button {
    grid-area: button;
    color: #fff;
    background-color: #27213d;
    border-radius: 5px;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 18px;
    padding: 20px 40px;
    justify-self: center;
    border: none;
    outline: none;

    transition: all 0.22s ease-in-out;

    line-height: 1;
    margin-top: -50px;
    
}

.not-last {
    margin-top: 40px;
}

/* .pontons-anchor-button:hover {
    background-color: #d1a57e;
} */

/* Form */

.pontons-anchor-modal {
    position: fixed;
    inset: 0;
    background: #fff;
    opacity: 0;
    visibility: hidden;
    transition: 0.3s ease;
    display: flex;
    justify-content: center;
    z-index: 1000;
    top: 0;
}

.pontons-anchor-modal.open {
    opacity: 1;
    visibility: visible;
}

.pontons-anchor-modal-wrapper {
    transform: translateY(-20px);
    opacity: 0;
    transition: 0.3s ease;
    position: relative;
    width: 100vw;
    height: auto;
    text-align: center;
    padding-top: 80px;
}

.pontons-anchor-modal.open .pontons-anchor-modal-wrapper {
    transform: translateY(0);
    opacity: 1;
}

.no-scroll {
    overflow: hidden !important;
}

.pontons-anchor-modal-title {
    color: #303030;
    font-family: "Montserrat", sans-serif;
    font-size: 36px;
    font-weight: 500;
    line-height: 43.88px;
}

.pontons-anchor-modal-subtitle {
    color: #000;
    font-family: "Manrope", sans-serif;
    font-size: 24px;
    font-weight: 400;
    line-height: 32px;
    margin-block: 10px;
}

.pontons-anchor-modal-form {

}

.pontons-anchor-modal-form-inputs {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: 10px;
    margin-top: 130px;

}

.pontons-anchor-modal-form-inputs input {
    padding: 8px 16px;
    border: 1px solid transparent;
    border-bottom-color: #818a91;
    outline: none;
    width: 380px;
    height: 42px;
    transition: border-top-color 0.3s ease,
                border-left-color 0.3s ease,
                border-right-color 0.3s ease;
    

    font-family: "Manrope", sans-serif;
    font-size: 18px;
    font-weight: 400;
    line-height: 25px;
}

.pontons-anchor-modal-form-inputs input:focus,
.pontons-anchor-modal-form-inputs input:active {
    border-top-color: #00000040;
    border-left-color: #00000040;
    border-right-color: #00000040;
}

.pontons-anchor-modal-form-check-box {
    margin-top: 25px;
    margin-bottom: 25px;
    padding-block: 10px;
    display: flex;
    justify-content: center;
    column-gap: 9px;
}

.pontons-anchor-modal-form-check-box label {
    font-family: "Manrope", sans-serif;
    font-size: 14px;
    line-height: 19px;
    font-weight: 400;
}

.pontons-anchor-modal-form-check-box label>a {
    color: #c36;
    text-decoration: none;
}

.pontons-anchor-modal-form-button {
    width: 380px;
    height: 40px;

    background-color: #d1a57e;
    border: none;

    font-weight: 700;
    font-size: 14px;
    line-height: 19px;
    font-family: 'Manrope', sans-serif;
    color: #fff;

    border-radius: 50px;
}

.pontons-anchor-modal-close {
    background-color: transparent;
    justify-content: center;
    align-items: center;
    border: none;
    position: absolute;
    right: 40px;
    top: 30px;
    display: inline-block;

    width: 40px;
    height: 40px;
    background-color: transparent;
}

.line1 {
    background-color: #000;
    width: 25px;
    height: 3px;
    transform: rotate(45deg);

    border-radius: 8px;
    transition: all 0.22s ease-in-out;
}

.line2 {
    background-color: #000;
    width: 25px;
    height: 3px;
    transform: rotate(-45deg);
    margin-top: -3px;
    border-radius: 8px;
    transition: all 0.22s ease-in-out;
}

/* .pontons-anchor-modal-close:hover .line1 {
    background-color: #d1a57e;
}

.pontons-anchor-modal-close:hover .line2 {
    background-color: #d1a57e;
} */


/* Form */


/* Pontons-Anchors */













